In [46]:
import pandas as pd

In [47]:
obj = pd.Series([4,7,-5,10])

In [ ]:
obj

In [ ]:
obj.values

In [ ]:
obj.index

In [51]:
obj2 = pd.Series([4,5,6,2], index = ['a','b','c','d'])

In [ ]:
obj2

In [ ]:
obj2.index

In [ ]:

obj2['a']
obj2['c']

In [ ]:
obj2[['a','b','d']]

In [ ]:
'b' in obj2

In [ ]:
'e' in obj2

In [58]:
my_dict = {10: 'Akshat', 20: 'ishita', 30: 'anshul'}

In [ ]:
pd.Series(my_dict)

In [ ]:
dataf = pd.Series(my_dict,index = [10,30,20,40])
dataf

In [ ]:
pd.isnull(dataf)

In [62]:
dataf.name = "family"

In [ ]:
dataf

In [64]:
dataf.index.name = "relation"

In [ ]:
dataf

In [66]:
data = {
    'state' : ["haryana","delhi","UP","MP"],
    'year' : [2010,2020,2015,2012],
    'pop' : [1.5,20,30,40]
}

In [67]:
frame = pd.DataFrame(data)

In [ ]:
frame

In [69]:
frame["debt"] = 16.5

In [70]:
import  numpy as np
frame["debt"] = np.arange(4)

In [ ]:
frame

In [72]:
frame['populated'] = frame['pop'] >= 30

In [ ]:
frame

In [74]:
frame['debt to year'] = frame['year'] + frame['debt'] / 100

In [ ]:
frame

In [76]:
frame.index.name = 's.no'

In [ ]:
frame

In [78]:
frame.name = 'State Data'

In [ ]:
frame

In [80]:
frame.columns.name = 'stats'

In [ ]:
frame

In [ ]:
frame.values

In [ ]:
obj

In [84]:
obj = pd.Series(np.arange(4),index = ['a','b','c','d'])

In [ ]:
obj

In [ ]:
obj.index

In [87]:
indexes = obj.index

In [ ]:
indexes

In [ ]:
indexes[:-1]

In [ ]:
indexes[:]

In [93]:
labels  = pd.Index(['a','b','c','d'])

In [ ]:
obj.index

In [ ]:
obj2.index is labels

In [96]:
obj = pd.Series([4,5,3,7],index = ['d','b','c','a'])

In [ ]:
obj

In [98]:
obj2 = obj.reindex(['a','b','c','d'])

In [ ]:
obj2

In [ ]:
obj2.reindex(['Something'])
obj2

In [101]:
obj3 = pd.Series(['blue','yellow','green'],index = [0,2,4])

In [ ]:
obj3

In [ ]:
obj3.reindex(range(6),method = 'ffill')

In [104]:
frame = pd.DataFrame(np.arange(9).reshape(3,3),
                     index = ['a','c','d'],
                     columns = ['Ohio','Texas','California'])

In [ ]:
frame

In [106]:
frame2 = frame.reindex(['a','b','c','d'])

In [ ]:
frame2

In [108]:
states = ["Haryana","Delhi","gujarat","Ohio","Texas"]

In [109]:
dummy_frame = frame2.reindex(states,axis = 'columns')

In [ ]:
frame2

In [ ]:
frame2.drop('c',inplace=True)
frame2

In [ ]:
dummy_frame

In [ ]:
dummy_frame.drop(["Haryana","Delhi","gujarat"],axis="columns")

In [ ]:
frame2

In [ ]:
frame2

In [ ]:
frame

In [ ]:
frame > 1

In [ ]:

frame[frame["Ohio"]>1]

In [119]:
frame.fillna(10,inplace= True)

In [ ]:
frame

In [130]:
frame

   Ohio  Texas  California
a     0      1           2
c     3      4           5
d     6      7           8

In [133]:
frame.loc[['a','d'],['Texas']]

   Texas
a      1
d      7

In [134]:
frame.iloc[[0,1],[1]]

   Texas
a      1
c      4